#content {
  padding: 30px;
}

#slider {
  margin-top: 30px;
  padding: 0px;
}

#label {
 /* display in the top right corner */
  margin-left: 80px;
  margin-top: -200px;
  font-size: 15px;
  color: grey;

}
