#content {
  padding: 30px;
}

#display {
  min-width: 240px;
  min-height: 240px;
}

#slider {
  margin-top: 25px;
}

#label {
 /* display in the top right corner */
  margin-left: 80px;
  margin-top: -200px;
  font-size: 15px;
  color: grey;

}
